.category-item {
    @extend .flex;
    line-height: 2.5;
    .checkbox {
        flex: 0 1 25px;
        width: 25px;
    }
    .text {
        flex: 1;
        font-size: 16px;
        display: flex;
        > span {
            margin-right: 5px;
            &:nth-child(1) {
                color: mui-color('black','500');
                flex: 0 1 100%;
                @include media($sm) {
                    flex: 0 1 45%;
                }
            }
        }
    }
}
