.toggle-box {
    width: 100%;
    .item-info {
        .row span {
            &:nth-child(1) {
                color: mui-color('black','500');
                font-size: 16px;
                font-weight: bold;
                display: block;
                flex: 0 1 24px;
                margin-right: 5px;
            }
            &:nth-child(2) {
                color: $mui-text-dark-hint;
                display: block;
                flex: 1;
                text-align: left;
            }
        }
    }
}
