.page-index {
    .navbar {
        opacity: 0;
        animation: slideUp 0.5s 1.7s forwards ease-in-out;
    }
}
.index-panel {
    margin-top: 10vh;
    min-height: 70vh;
    @extend .flex;
    @extend .center;
    @extend .cols;
    .svg-icon {
        @include media(0px,$sm) {
            display: flex;
            margin: auto;
        }
        @extend .mui--text-display4;
        width: 112px;
        height: 112px;
        position: relative;
        top: -5px;
        svg {
            fill: transparent;
            stroke: mui-color('blue','500');
            stroke-dasharray: 100px;
            stroke-dashoffset: 100px;
        }
    }
    h1 {
        span {
            opacity: 0;
            animation: fadeIn 0.2s 0.6s forwards;
        }
        svg {
            animation: stroke 1.5s forwards;
        }
    }
    h4 {
        opacity: 0;
        animation: fadeIn 0.2s 1.2s forwards;
        margin-top: 60px;
    }
}
