form.new-location {
    @extend .flex;
    @extend .cols;
    @extend .center;
    max-width: 450px;
    margin: auto;
    input[type="text"] {
        border: 0;
        border-bottom: 1px solid $mui-primary-color-dark;
        width: 100%;
    }
    .row {
        @extend .center;
        width: 100%;
        margin: 40px 0;
        position: relative;
        .row {
            margin: 0;
            &:nth-child(1) {
                margin-right: 5px;
            }
            input {
                border-bottom: 0;
            }
        }
        label {
            font-size: 13px;
            position: absolute;
            top: -20px;
            color: $mui-text-dark-hint;
        }
        input:not([type="submit"]) {
            font-size: 16px;
            width: 100%;
            outline: 0;
        }
        input[type="number"] {
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .longtitue {
        margin-right: 15px;
    }
    .submit-btn {
        @extend .mui-btn;
        @extend .mui-btn--primary;
    }
}
.edit-panel {
    @extend .flex;
    @include media(0px,$md) {
        flex-flow: column;
        .map {
            margin-right: 0;
            height: 350px;
            width: 100%;
        }
    }
    @include media($md) {
        .map {
            width: calc(50% - 30px);
            margin-right: 30px;
        }
    }
}
