.app {
    width: 100vw;
    min-height: 100vh;
    position: relative;
}
.page-title {
    @extend .flex;
    font-weight: bold;
    flex: 1;
    text-transform: capitalize;
    @include media(0px,$sm) {
        font-size: 16px;
    }
    @include media($sm) {
        font-size: 18px;
        text-align: left;
        margin-right: auto;
    }
}
main {
    min-height: 90vh;
    overflow-y: scroll;
}
.mui-btn {
    @include media(0px,$sm) {
        padding: 0 13px;
    }
}
.view-page {
    .map {
        width: 100%;
        height: 70vh;
    }
}
