.navbar {
    .nav-list {
        @extend .flex;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 10vh;
        z-index: +200;
        background: $mui-primary-color-dark;
    }
    .nav-item {
        flex: 1 0 50%;
        @extend .flex;
        @extend .center;
        font-size: 18px;
        text-transform: uppercase;
        color: $mui-text-dark;
        a {
            @extend .flex;
            @extend .center;
            flex: 1;
        }
        .svg-icon {
            margin: 5px;
            width: 48px;
            height: 48px;
        }
    }
}
.active-link {
    color: $mui-text-light;
    .svg-icon {
        svg {
            fill: mui-color('blue', '200');
        }
    }
}
