.toolbar {
    border-bottom: 1px solid mui-color('blue', '700');
    background: mui-color('white', '500');
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7vh;
    width: 100vw;
    z-index: +200;
    .inner {
        @extend .flex;
        @extend .mui-container;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        > span:first-child {
            flex: 1;
        }
        .buttons {
            @extend .flex;
            justify-content: space-between;
            align-items: center;
            margin-left: auto;
        }
        .toolbar-buttons {
            @extend .flex;
            // flex: 1;
        }
    }
    .mui-btn {
        @include media(0px,$sm) {
            display: inline-flex;
        }
    }
}
@keyframes loading {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
